[submodule "firmware-bl616"]
	path = firmware-bl616
	url = ../firmware-bl616.git
[submodule "nestang"]
	path = nestang
	url = https://github.com/nand2mario/nestang.git
[submodule "snestang"]
	path = snestang
	url = https://github.com/nand2mario/snestang.git
[submodule "gbatang"]
	path = gbatang
	url = https://github.com/nand2mario/gbatang.git
[submodule "mdtang"]
	path = mdtang
	url = https://github.com/nand2mario/mdtang.git
[submodule "monitor"]
	path = monitor
	url = https://github.com/nand2mario/monitorcore.git
[submodule "smstang"]
	path = smstang
	url = https://github.com/nand2mario/smstang.git
[submodule "pctang"]
	path = pctang
	url = https://github.com/nand2mario/pctang.git
